.form {
	width: 50%; 
	margin: 0 auto; 
	max-width: 400px; 
	// padding: 0 3em;
	// flex: 1;

	button,
	input {
		margin: 0.25em 0;
		padding: 0.5em;
	}

	input {
		width: 100%;
		display: block;
		// max-width: 300px;
	}
}