.search {
	width: 100%; 
	margin-top: 100px; 
	padding-left:5%; 
	padding-right:5%; 
	display: flex; 
	flex-direction: column;
	align-items: center;
	flex-wrap: row-wrap; 
	margin: 0 auto; 
	align-self: center; 
	// padding-bottom: 130px; 
	justify-content: center; 
	align-content: center; 
	height:450px; 
	 
}

.search-input {
	height: 50px; 
	border-radius: 23px 5px 5px 23px; 
	border-color: black; 
	width:300px;  
	border-color: $color-burgundy; 
	position:relative; 

}

.search-button:focus,.search-input:focus {
	outline:none; 
	background-color: brown; 
	color: white; 
}

.search-button:hover {
	background-image: url("../../images/search-01.png"); 
	background-color: $color-burgundy; 
}

.search-input:hover {
	background-color: $color-burgundy; 
}
button.search-button {
	background-color: transparent; 
	height: 50px; 
	background-image: url("../../images/search-02-01.png"); 
	background-size:2em; 
	border-radius: 10px 23px 23px 5px; 
	background-repeat: no-repeat; 
	color: transparent; 
	border-style: solid; 
	border-color: $color-burgundy; 
	background-position: center; 
	position: relative; 
	bottom: 2px; 
	left: -2.5px; 

}

.result {
	display:flex; 
	flex-direction: column; 
	justify-content: center; 
	position:relative; 
	height: 250px; 
}

.like {
	background-image: url("../../images/ferretpawbutton-01.png"); 
	font-size: 50px; 
	background-position: 10% 30%; 
	background-repeat: no-repeat; 
	background-color: transparent;  
	background-size: contain; 
	border-style: none; 
	border-color: transparent; 
	color: transparent; 
	align-self: center; 
	position: absolute; 
	bottom: -20px; 
	left: 50px; 


}


@media all and (max-width: 500px) {
	.search-input {
		width: 77%;  
		
	
		
	}
	button.search-button {
		width:19%; 
		
	}
}

.search-results {
	width: inherit;   
	height:  300px; 
	display:flex; 
	flex-direction: row; 
	overflow: auto; 
	padding-top: 10px; 
	align-self: flex-end; 
}

img.result-image {
	padding: 20px; 

}
